@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
body {
    font-family: Roboto;
    color:#22223B;
}
/*-----------------------------------------------------------------------Header*/

h1 {
    font-family: Montserrat;
    font-style: oblique;
    letter-spacing: 1px;
    color:#0D0D0D
}


#logo { 
    float:left;
    font-size: 280%;
    line-height: 75px;
    margin-top: 10px;
  }


  #menu {
      font-size: 120%;
      list-style-type: none;
      letter-spacing: 1px;
      line-height: 200px;
      
  }

  #menu li {
      display:inline;
      padding: 15px;
      

  }

  #menu a {
      text-decoration: none;
      color:#22223B;
     
  }

  #menu a:hover {
      border-bottom: 2px #22223B solid;

  }
  
  .active {
    border-bottom: 2px #22223B solid;

  }

  /*adding color and height to the header background*/
  header {
      background-color:#C9ADA7;
      height:150px;
    
  }

  /*-------------------------------------------------------------------------------------------Image section*/
  #yoga-images {
      height: 300px;
      overflow: hidden;
      margin-top: 15px;
      
  }
 
  /*positioning picture no 1 to the left on the screen*/
  .column_1{
    float:left;
    width:33.33%;

      }
 /*positioning picture no 2 to the center on the screen*/
  .column_2{
    float:left;
    width:33.33%;
   
      }
/*positioning picture no 3 to the right on the screen*/
  .column_3{
    float:left;
    width:33.33%;
   
      }

 /*--------------------------------------------------------------------------description section*/

 /*giving whole section height of 300px*/
 #home-description {
   height: 300px;

 }

 /*positioning text in the center */
 #center-text{
  padding-top: 40px;
  width: 100%;
  margin:0 auto;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  font: oblique;
  
 }

 #invitation{
   font-size: 30px;
   font: oblique;
   text-decoration: underline;
   margin-top: 40px;
   text-align: center;

 }

